@import "tailwindcss";

@theme {
  --color-kintsugi-red: #ef4444;
  --color-kintsugi-darkred: #8c0303;
  --color-kintsugi-dark: #0a0a0a;
  --color-kintsugi-gray: #1a1a1a;
  --color-kintsugi-light: #d3d3d3;
}

.primary {
  color: #ef4444;
}
.secondary {
  color: #8c0303;
}
.bg-primary {
  background-color: #ef4444;
}
.bg-secondary {
  background-color: #8c0303;
}
.text-primary {
  color: #ef4444;
}

/* reglas hover (usar estas clases directamente) */
.hover-text-secondary:hover {
  color: #ef4444;
}
.hover-bg-secondary:hover {
  background-color: #ef4444;
}
.hover\:bg-secondary:hover {
  background-color: #8c0303;
}
.hover\:text-secondary:hover {
  color: #8c0303;
}

/* Sombra cinematográfica brutalista en rojo borgoña */
.text-shadow {
  text-shadow: 2px 2px 0 #8c0303;
}

/* Sombra en rojo brillante */
.text-shadow-cyan {
  text-shadow: 2px 2px 0 #ef4444;
}

/* estilos del home */
@keyframes gradientMove {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-250px) translateY(120px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes gradientMove2 {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(250px) translateY(-120px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.animate-gradientMove {
  animation: gradientMove 8s ease-in-out infinite alternate;
}

.animate-gradientMove2 {
  animation: gradientMove2 8s ease-in-out infinite alternate;
}
