---
import MiFoto from "../../assets/img/MiFoto.png";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#8c0303]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Javier Cuevas"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Mi nombre es <span class="text-[#ef4444] text-shadow">Javier Cuevas</span>
    </h2>
    <p class="mt-4">
      Soy estratega de viralidad y editor de video cinematográfico. Fundador de <span class="text-[#ef4444] font-semibold"
        >Creativos Kintsugi</span
      >, me enfoco en transformar videos convencionales en historias magnéticas de alta retención. Creo que un excelente video no solo se edita, se esculpe combinando <span class="text-[#ef4444] font-semibold">psicología del espectador, diseño sonoro inmersivo y corrección de color cinemática</span> para capturar la atención desde el primer segundo.
    </p>
    <p class="mt-2">
      Mi pasión por la <span class="text-[#ef4444] font-semibold"
        >atención digital</span
      > y la
      <span class="text-[#ef4444] font-semibold">edición cinematográfica</span> surgió al notar cómo la sobresaturación de contenido dejaba en el olvido grandes ideas. Inspirado en el arte japonés del <span class="text-[#ef4444] font-semibold"
        >Kintsugi</span
      >, decidí que mi misión sería tomar fragmentos de video y unirlos con 'oro visual' para crear piezas únicas de alto valor que dominen las redes sociales de mis clientes.
    </p>
    <p class="mt-2">
      Estoy en constante evolución, analizando diariamente las tendencias de los algoritmos y perfeccionando mis <span class="text-[#ef4444] font-semibold"
        >ganchos neuro-visuales</span
      > para asegurar que cada video cumpla con los más altos estándares de retención, engagement y conversión de leads.
    </p>
  </div>
</div>
